@font-face {
	font-family: 'Pangram';
	src: url('Pangram-Regular.woff2') format('woff2'),
		url('Pangram-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
